/* Modified Version of Minimal Theme CSS */
/* https://github.com/pages-themes/minimal */

h1, h2, h3, h4, h5, h6 {
  width: fit-content;
  margin: 0 0 20px; 
}

ul {
  width: fit-content;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

a {
  color: #267CB9;
  text-decoration: none;
}

a:hover, a:focus {
  color: #069;
  font-weight: bold;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

/* Custom CSS */

body {
  font-family: 'Roboto';
  font-size: 14pt;
  color: #24292e;
  margin: 40px;
}

.body-center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

/* 26pt and blue */
h1 {
  font-size: 36pt;
  color: #267CB9;
}

/* 20pt and black */
h2 {
  font-size: 26pt;
}

/* 16pt and blue */
h3 {
  font-size: 16pt;
  color: #267CB9;
}

/* Layout Stuff */

.container {
  margin: 0 auto;
  display: block;
  max-width: 1000px;
}

.header {
  width: fit-content;
  margin: 0 auto;
  display: block;
}

.content {
  width: fit-content;
  margin: 0 auto;
  display: block;
}

/* Avatar Picture */

.avatar {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

/* For copy to clipboard button */

.clip-button {
  position: absolute;
  top: 6px;
  right: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-width: 0px;
  padding: 0px;
}

.clip-button:hover {
  fill: #888;
}

/* Hack to fix block math in collapsible section */
details span.mjx-chtml.MJXc-display {
  display: inline-block;
}

/* Hack to fix block math in table */
table span.mjx-chtml.MJXc-display {
  display: inline-block;
}

/* Mobile changes */
@media (max-width: 480px) {
  /* Reduce margins */
  body {
    margin: 20px;
  }
  /* Make bullet points further spread apart */
  li {
    margin-bottom: 6px;
  }
}