/* Modified Version of Minimal Theme CSS */
/* https://github.com/pages-themes/minimal */

---
---

h1, h2, h3, h4, h5, h6 {
  /* font-weight: normal; */
  margin: 0 0 20px; 
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

a {
  color: #267CB9;
  text-decoration: none;
}

a:hover, a:focus {
  color: #069;
  font-weight: bold;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

/* Custom CSS */

body {
  font-family: 'Roboto';
  font-size: 12pt;
  color: #24292e;
  padding: 30px;
}

.body-center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

/* 26pt and blue */
h1 {
  font-size: 26pt;
  color: #267CB9;
}

/* 20pt and black */
h2 {
  font-size: 20pt;
}

/* 16pt and grey */
h3 {
  font-weight: normal;
  font-size: 16pt;
}

/* Layout Stuff */

.container {
  /* margin: 0 auto; */
  display: inline-block;
  max-width: fit-content;
}

.sidebar {
  vertical-align: top;
  margin: 0 20px;
  display: inline-block;
}

.content {
  margin: 0 20px;
  display: inline-block;
  max-width: 1000px;
}

/* Reduce margins */
@media (max-width: 480px) {
  body {
    padding: 0px;
  }
}

/* Avatar Picture */

.avatar {
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

/* For copy to clipboard button */

.clip-button {
  position: absolute;
  top: 6px;
  right: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-width: 0px;
  padding: 0px;
}

.clip-button:hover {
  fill: #888;
}

/* Hack to fix block math in collapsible section */
details span.mjx-chtml.MJXc-display {
  display: inline-block;
}

/* Hack to fix block math in table */
table span.mjx-chtml.MJXc-display {
  display: inline-block;
}

/* Mobile link clicking
@media (max-device-width: 480px) {
  ul {
    list-style-type: none;
    padding: 0px;
  }

  li {
    margin-bottom: 20px;
  }
} */