---
---

@import "{{ site.theme }}";

body {
  font-family: 'Roboto';
  font-size: 12pt;
  color: #24292e;
}

.wrapper {
  width: 1000px
}

#wjgan-name {
  font-size: 24pt;
  color: #267CB9; 
}

#wjgan-content {
  min-width: 75%;
}

#wjgan-sidebar {
  display: inline-block
}

.wjgan-toc {
  margin-top: 20px;
}

.section-nav {
  padding-inline-start: 0px;
  list-style: none;
}

h1 {
  font-size: 18pt;
}

li {
  font-size: 12pt;
  color: #24292e;
}
