---
---

@import "{{ site.theme }}";

* {
  font-family: 'Roboto';
}

#wjgan-wrapper {
  width: 800px
}

#wjgan-profile {
  // min-width: 1
  // width: 20%
}

#wjgan-name {
  font-size: 24pt
}

#wjgan-content {
  width: 75%
}

h1 {
  font-size: 18pt
}

li {
  font-size: 12pt;
  color: #24292e
}
